.input{
    width: 100%;
    height: var(--height-field);
    padding: 0 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: 0;
}

.input:focus{
    border: 1px solid var(--primary-color);
}

//TODO
.sm{
   
}

.md{
}

.lg{
}

.xl{
}


.fullWidth{
    width: 100%;
}
