.wrapper{
    position: relative;
    width: 100%;
    height: var(--height-field);
    padding: 10px;
    color: var(--for-field-color);
    background-color: field;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
}

.value{
    font-size: 14px; //TODO
}

.emptyValue{
 color: var(--placeholder-text-color);
}

.menu {
    position: absolute;
    top: calc(var(--height-field) + 5px);
    left: 0;
    width: 100%;
    background-color: rgb(255 255 255);
    border-radius: 4px;
    z-index: var(--select-z-index);
}

.menu div:first-child {
 border-radius: 4px 4px 0 0;
}

.menu div:last-child {
    border-radius:  0 0 4px 4px;
}

.option{
    padding: 10px;
}

.option:hover{
    color: var(--for-primary-color);
    background-color: var(--primary-color);
}