
.container{
    width: 100%;
    gap: 10px;
}

.botsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botItemContainer{
    width: 100%;
    padding: 16px;
    border: 1px solid var(--border-color);
}

.botItemContent{
    display: flex;
    justify-content: space-between;
}

.botItemStatus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: pulse 2s ease-in-out infinite; /* Длительность 2 секунды, зацикленная анимация */
}

// Статусы бота
.botItemOnlineStatus{
    background-color: var(--positive-color);
}

.botItemErrorStatus{
    background-color: var(--error-color);
}

.botItemAwaitsStatus{
    background-color: var(--warning-color);
}

.botItemOfflineStatus{
    background-color: var(--placeholder-text-color);
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.5; 
    }
    
    100% {
        opacity: 1; 
    }
}